<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormChinh.Properties.Settings.phanMemDiemDanhConnectionString"
            connectionString="Data Source=DESKTOP-1FODL3G\USTEAM;Initial Catalog=phanMemDiemDanh;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="FormChinh.Properties.Settings.phanMemDiemDanhConnectionString1"
            connectionString="Data Source=WINDOW\ALCENIUM;Initial Catalog=phanMemDiemDanh;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>